.donate-form {
	grid-column-start: 3;
	grid-column-end: 7;

}

.donate-form > * {
	width: 100%;
}

.donate-form > * > input {
	width: 100%;
}

.donate-form > * > textarea {
	width: 100%;
	height: 50px;
}

.donate-form .donation-public input {
	width: auto;
}

.donation-amount-container {
	display: flex;
	
	margin: 0 auto;
}

.donation-amount-container__input {
	background-color: transparent;
	box-shadow: none;
	width: 120px !important;
	border-bottom: 2px solid var(--bg-color-dark);
	font-size: 30px;
}

.donation-amount-container__currency {
	font-size: 30px;
}